:root {
  --primary-color: #ffffff;
  --seconday-color: #9ca3af;
  --background-color: #dbeafe;
  --seconday-background-color: rgba(0, 0, 0, 0.4);
  --button-color: #ef4444;
}
body {
  background-color: var(--background-color);
  margin: 0px;
}
header {
  text-align: center;
}
