:root{
  --primary-color:#ffffff;
  --seconday-color:#9CA3AF;
  --background-color:#DBEAFE;
  --button-color:#EF4444;

}
body{
  background-color: var(--background-color);
  padding:20px;

}
header{
 text-align: center; 
}
.container{
  width:100%;
  
}
